
header {
  padding: 3px 10px;
	margin-bottom: 5px;
	background: -webkit-linear-gradient(left, #5b7989, #5b7989); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left, #5b7989, #5b7989); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, #5b7989, #5b7989); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to left, #5b7989, #5b7989); /* Standard syntax */
	border-radius: 10px;
  color:white;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-around;


}

body{
background-color: black;
font-family: 'Dancing Script', cursive;
}



.contenedor >div {
	text-align: center;
	padding: 10px;
	margin: 10px;
	width: 50%;
}
#imagen1{
  padding: 3px 10px;
	margin-bottom: 5px;
  border-radius: 10px;
  background: #82c3a6;
  text-align: center;

}


  .Seccion{
  flex-flow: row wrap;
  text-align: center;
  border-radius: 1px;
  background:  #d5c75f;
  text-decoration: underline;
  display: flex;
}

img{
	border: 2px solid #02010a;
}


.rotate img:hover{
  animation: mianimacion 3s infinite;
  transform:rotate(10deg);
  }

.traslacion img:hover{
animation: mianimacion 3s;
transform: translatex(20px);
border: 2px solid #82c3a6;

}

section div{
  margin:auto;
}


#imagen11 img{
	-webkit-filter: blur(10px); /* Chrome, Safari, Opera */
	filter: blur(10px);}

  #imagen2 img{
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
  }

  #imagen4 img{
  	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  	filter: grayscale(100%);
  }
  #imagen6 img{
  	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  	filter: grayscale(100%);
  }
  #imagen3 img{
    -webkit-filter: sepia(90%); /* Chrome, Safari, Opera */
  	filter: sepia(90%);
}


#contacto
{
  width: 20%;
  float: left;
  text-align: left;
  padding-left: 5%;
}

#terminos
{
  width: 25%;
  float: right;
  text-align: left;
}

#redes
{
  width: 25%;
  float: right;
  text-align: left;
}

#redes img
{
  height: 15%;
  border-radius: 10%;
}

#derechos
{
  width: 25%;
  float: right;
  text-align: left;
}


footer
{
width: 100%;
height: 250px;
clear: both;
background-color: #C6d5c5;
border-radius: 0 0 10px 10px;
order: 5;
}

@media (max-width:900px) {
footer{
height: 480px;
display: flex;
flex-direction: column;
  }
header{
  display: flex;
  flex-direction:column;
  justify-content:space-around;
  }
  .seccion{
    display: flex;
    flex-direction:column;
    }

}
